
/*COMPORTMENT*/
.--flex{ display: flex; }
.--wrap{flex-wrap: wrap;}
.--col {flex-direction: column;}
.--space {justify-content: space-around;}
.--space-bet {justify-content: space-between;}
.--end{justify-content: flex-end ;}
.--start{justify-content: start;}
.--center-bloc {margin: auto;}
.--rel {position: relative;}
.--tacent{text-align: center;}
.--mr50 {margin-right: 50px;}
.--mr25 {margin-right: 50px;}
.--mt100 {margin-top: 100px;}
.--mt25 {margin-top: 25px;}
.--mt50 {margin-top: 50px;}
.--w100 {width: 100%;}
/*TITLE*/
.title--XXL{ font-size: 32px; }
.title--XL{ font-size: 18px; }
.title--XS{ font-size: 14px; }
/* PARAGRAPH*/
.paragraph--XXL{ font-size: 18px; }
.paragraph--XL{ font-size:14px; }
.paragraph--S{ font-size: 12px; }
.paragraph--XS{ font-size: 12px; }
/* COLOR */
.--black {color: black;}
.--gray {color: #838383;}
.--yellow {color: #e0ac0f}

.--bold {font-weight:800; }
.--med{font-weight: 600;}
.--light{font-weight: 300;}

/*** FONT ****/
.font--nunito{font-family: nunito, sans-serif;}
.font--lato{font-family: lato,sans-serif;}
.font--playfair{font-family:Playfair+Display,sans-serif;}

/*** FORM ****/
.--circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(232, 232, 232);
}

/*STYLE*/
.border-rad--XXL{ border-radius: 40px;}
.--italic{ font-style: italic; }
.--shadow { box-shadow: 2px 3px 50px #d8d8d8; }

/*modification générale*/
/*.hr {background-color: lightgray;}*/
ul{ list-style: none; } 
ul li a { text-decoration: none;}
ul li a:visited{ color: black;}



/********************************************************************************
                                 PAGE
*********************************************************************************/
nav > div { margin-top: 5%; }
nav span{
    margin-right: 10px;
    margin-top: 20px;
}
.cog{ margin-top: 27px;} /* décalage icone-roue */

body{ width: 100%;}
header,main{
    width: 90%;
    margin: 0 auto;
}
.bg{
    position: absolute;
    top: 40%;
    margin: 0;
    z-index: -1;
}

.p-to-up{
    margin-top: -15px;
}
.corner-img { /*pancartes temps images */
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    height: 50px;;
    border-radius: 0 40px 0 40px;
}
.icon-horl{    /*Absolument pas propre, mais pas le choix, car pas trouvé la raison du problème. 12:57*/
    color: rgb(130, 130, 130);
    margin-right: 5px;
}

.title-to-down{ margin-bottom: -20px;
}